extends layout.jade

block append head
    title Поддержите сервер
    link(href='css/tables.css', rel='stylesheet')
    link(href='css/donate.css', rel='stylesheet')

block content
    mixin yes
        img(src='images/ok.png')
    mixin no
        img(src='images/cross.png')

    +page-heading('Поддержите сервер')

    div.row.text-center
        table.table.table-striped.table-bordered.table-hover
            tr
                td.col-sm-1
                - for (var i in donate.groups)
                    td.col-sm-1.text-center
                        strong= donate.groups[i].name
            - for (var i in donate.features)
                tr
                    td
                        span= donate.features[i].description
                        - if (donate.features[i].code)
                            br
                            code= donate.features[i].code
                    - for (var j in donate.groups)
                        td
                            - if (donate.adjacencyTable[donate.features[i].id][donate.groups[j].id])
                                +yes
                            - else
                                +no
            tr
                td.col-sm-1 Цена (месяц / навсегда)
                - for (var i in donate.groups)
                    - var price = donate.pricesByGroupId[donate.groups[i].id]
                    td= price.month + 'р / ' + price.forever + 'р'

    div.row.text-center
        table.table.table-bordered
            tr.active
                td.col-sm-4
                    span Реквизиты:
                    - for (var i in donate.accountDetails)
                        br
                        span= donate.accountDetails[i].service + ': ' + donate.accountDetails[i].account_id
                td.col-sm-8
                    span= 'Обязательно указывайте свой никнейм и нужную вам группу в примечании к платежу. '
                    a(href='/contact') Свяжитесь с нами
                    span= ' после оплаты, и мы поместим вас в нужную вам группу.'