extends layout.jade

block append head
    meta(name='description', content='Survival Minecraft Server with Friendly Administration')
    title Сервер MainFrame
    link(href='css/home.css', rel='stylesheet')

block content
    div.text-center.panel.panel-default
        div.panel-body.greetings
            h1 Добро пожаловать на наш сайт!
            p Скоро будет старт сервера Minecraft. Следите за новостями!

    div.row
        div.col-md-4.text-center
            div.panel.panel-default.news
                div.panel-heading
                    span.glyphicon.glyphicon-bullhorn
                    strong  Новости
                div.panel-body.news-content
                    - var news = homeData.news
                    - for (var i = 0; i < news.length; i++)
                        div(id="news-entry-" + news[i].id, class="news-entry")
                            h3!= news[i].heading
                            p!= news[i].content
                            span.label.label-default.news-date= news[i].date
                        hr

        div.col-md-4.text-center.front
            div.status
                - var status = homeData.status
                - if (!status.online)
                    div Сервер оффлайн
                - else
                    table.table.table-striped.table-hover.table-bordered
                        thead
                            tr
                                th.text-center Сервер
                                th.text-center #{status.name}
                        tbody
                            tr
                                td Версия
                                td #{status.version}
                            tr
                                td Игроки
                                td #{status.players.length} / #{status.maxplayers}
                            - for (var i in status.players)
                                tr
                                    td
                                    td #{status.players[i].name}
            div.btn-block
                a#map-button.btn.btn-success(href='http://map.aionics.ru', target='_blank', role='button') Динамическая карта сервера!

        div.col-md-4.text-center
            // VK Widget
            div#vk_groups.vk-widget
                script(type='text/javascript', src='//vk.com/js/api/openapi.js?116')
                script(type='text/javascript').
                    VK.Widgets.Group("vk_groups", {mode: 2, width: "298", height: "400"}, 96822714);

    div.row.text-center
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js')

block append js
    script(type='text/javascript', src='js/home.js')
