extends layout.jade

block append head
    title Правила сервера
    link(href='css/tables.css', rel='stylesheet')
    link(href='css/rules.css', rel='stylesheet')

mixin empty
    span.glyphicon.glyphicon-minus

block content
    +page-heading('Правила сервера')

    -
        penaltyColumnTitle = 'Мера наказания'
        categoriesAmount = rules.categories.length
        notesAmount = rules.notes.length

    div.row
        - for (var i = 0; i < categoriesAmount; i++)
            - var category = rules.categories[i]
            - if (category.has_penalty)
                table.table.table-hover
                    thead
                        tr
                            th.col-xs-1 #
                            th.col-xs-8= category.name
                            th.col-xs-3= penaltyColumnTitle
                    tbody
                        - for (var j = 0; j < rules.byCategory[i].length; j++)
                            - var rule = rules.byCategory[i][j]
                            tr
                                td= category.index + '.' + rule.index
                                td= rule.content
                                - if (rule.penalty)
                                    td= rule.penalty
                                - else
                                    td
                                        +empty
            - else
                table.table.table-hover
                    thead
                        tr
                            th.col-xs-1 #
                            th.col-xs-11= category.name
                    tbody
                        - for (var j = 0; j < rules.byCategory[i].length; j++)
                            - var rule = rules.byCategory[i][j]
                            tr
                                td= category.index + '.' + rule.index
                                td= rule.content

        div.panel.panel-default
            div.panel-heading
                span.glyphicon.glyphicon-asterisk
                strong  Примечания
            ul.list-group
                - for (var i = 0; i < notesAmount; i++)
                    li.list-group-item!= rules.notes[i].content